@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.input-tarefa {
  font-size: 25px;
  width: 400px;
  height: 51px;
}

.input-tarefa:focus {
  background-color: rgb(226, 236, 236);
  outline: 1px solid rgb(17, 86, 102);
}

.botao-add {
  border: none;
  background-color: rgb(17, 86, 102);
  color: white;
  font-size: 20px;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.botao-add:hover {
  background-color: rgb(9, 48, 56);
}

.botao-add:active {
  background-color: rgb(32, 32, 70);
}

.apagar {
  background-color: rgb(194, 85, 85);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0px;
  font-size: 20px;
}

li {
  font-size: 25px;
  border-bottom: 1px solid rgb(17, 86, 102);
  margin: 20px 0;
}

